<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.orangelabs.rcs.cms.toolkit"
  	android:versionCode="1"
	android:versionName="1.5.1">

	<uses-sdk android:minSdkVersion="12" android:targetSdkVersion="21" />

	<uses-permission android:name="com.gsma.services.permission.RCS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<application android:name="com.orangelabs.rcs.cms.toolkit.ToolkitApplication"
		android:icon="@drawable/rcs_icon" android:label="CmsToolkit">

		<activity
			android:name="com.orangelabs.rcs.cms.toolkit.Toolkit"
			android:icon="@drawable/rcs_icon"
			android:label="@string/cms_toolkit_app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Preferences" />
		<activity android:name="com.orangelabs.rcs.cms.toolkit.delete.DeleteOperations" />
		<activity android:name="com.orangelabs.rcs.cms.toolkit.operations.RemoteOperations" />
		<activity android:name="com.orangelabs.rcs.cms.toolkit.operations.remote.ShowMessages" />

	</application>


</manifest>