<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.orangelabs.rcs.cms.toolkit"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.gsma.services.permission.RCS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.orangelabs.rcs.cms.toolkit.ToolkitApplication"
        android:icon="@drawable/rcs_icon"
        android:label="CmsToolkit">

        <activity
            android:name="com.orangelabs.rcs.cms.toolkit.Toolkit"
            android:icon="@drawable/rcs_icon"
            android:label="@string/cms_toolkit_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Preferences"/>
        <activity android:name="com.orangelabs.rcs.cms.toolkit.delete.DeleteOperations"/>
        <activity android:name="com.orangelabs.rcs.cms.toolkit.operations.RemoteOperations"/>
        <activity android:name="com.orangelabs.rcs.cms.toolkit.operations.remote.ShowMessages"/>

    </application>

</manifest>